/*Map position*/
.map {
    position: relative;
    text-align: center;
}

/*Resolution doesn't affect map size*/
.map img {
    width: 100%;
    height: auto;
}

/*Interactive map position*/
.map svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Styles to make map interactive*/
.map svg path {
    fill: none;
    stroke: #000;
    stroke-width: 3px;
    pointer-events: all; /*Interaction using cursor - allowed*/
    cursor: pointer; /*Change cursor on hover*/

    /*Opacity for borders*/
    opacity: 0.4;
    transition: 0.3s;
}

/*Launch animation when cursor is on state*/
.map svg path:hover {
    animation: hoverElement 2s linear infinite; 
    opacity: 0.8;
    transition: 0.3s;
    fill: orange;
}

/*Animation Cyclic color change*/
@keyframes hoverElement { 
    0% {
        stroke: #000000;
    }
    50% {
        stroke: #fc0000;
    }
    100% {
        stroke: #000000; 
    }
}
/**/
.tooltip {
    border-radius: 5px;
    padding: 5px;
    font-weight: 500;
    background: #fff;
    color: #000;
    font-size: 14px;
    position: absolute;
}

