body {
    font-size: 24px; /*Default fonts for site*/
    font-family: 'Times New Roman', Arial;
}

nav {
    width: calc(100% - 5px);
    margin-left: 10px;
    margin-right: 10px;
    position: fixed;
    left: 0px;
    top: -25px;
}

/*Styles for ul inside nav*/
nav > ul {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    flex-direction: row;
    list-style: none;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 98%;
}
/*styles for class elements <li> of class menu*/
.menu li a:hover {
    color:brown;
}

img {
    margin: 0px 20px 20px 20px;
}

audio {
    width: 640px;
}

p.text {
    display: flex;
    margin-right: 50px;
}

/*Change color of highlight*/
::selection {
    background-color:#ffee38;
    color:#191919
}

h2 {
    text-align: center;
    font-size: 36px;
    font-family: 'Times New Roman', Arial;
}

hr {
    height: 20px;
    background-color: green;
}

.btn {
    width: 100%;
    text-align: center;
    background: gray;
    color: rgb(234, 247, 51);
    font-size: 50px;
    border-radius: 5px;

    /*Change color on hover*/
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: #4CAF50;
    color: white;
}

